*.pyc
*.pyo
*.log
*.idea
*.swp
*.un~
*.sqlite
stubs
*.iml
.project
.vscode
env
env/*
.pydevproject
.settings/
htmlcov/*
htmlcov
build/*
nginx-repo.crt
nginx-repo.key
.coverage
naas_agent.yaml
.cache/*
.cache
*~
.DS_Store
.env
.pytest_cache/
key.priv
key.pub
node.pid
.python-version
Pipfile*
